#zen-sidebar-top-buttons-customization-target {
  #back-button {
    order: -3 !important;
  }

  #forward-button {
    order: -2 !important;
  }

  #stop-reload-button {
    order: -1 !important;
  }

  #zen-sidebar-top-buttons-separator {
    order: 0 !important;
  }

  #zen-toggle-compact-mode {
    order: 99 !important;
  }

  #PanelUI-button {
    order: 100 !important;
  }
}

:root:not([zen-compact-mode="true"]):not([chromehidden~="toolbar"]):not([inDOMFullscreen="true"]) {
  --expanded-width: var(--mod-autoexpand-expanded-width, 200px);
  --collapsed-width: var(--mod-autoexpand-collapsed-width, 45px);

  --transition-duration: var(--mod-autoexpand-animation-duration, 150ms);
  --transition-expand-delay: var(--mod-autoexpand-expand-delay, 750ms);
  --transition-collapse-delay: var(--mod-autoexpand-collapse-delay, 100ms);

  --transition-delay: 0ms;

  #zen-appcontent-wrapper,
  #nav-bar {
    transition: clip-path 0ms ease-in-out var(--transition-delay),
      transform 0ms ease-in-out var(--transition-delay),
      opacity 0ms ease-in-out var(--transition-delay),
      width 0ms ease-in-out var(--transition-delay) !important;
  }

  #navigator-toolbox,
  #tabbrowser-tabbox,
  #urlbar:not([open]),
  #urlbar::before,
  #urlbar-input,
  #urlbar-container,
  #nav-bar-customization-target,
  #identity-box,
  tab,
  .tab-label-container,
  .tab-background,
  .pinned-tabs-container-separator,
  #zen-copy-url-button {
    transition: clip-path var(--transition-duration) ease-in-out var(--transition-delay),
      transform var(--transition-duration) ease-in-out var(--transition-delay),
      opacity var(--transition-duration) ease-in-out var(--transition-delay),
      width var(--transition-duration) ease-in-out var(--transition-delay) !important;
  }

  &:has(#navigator-toolbox:hover) {
    --transition-delay: var(--transition-expand-delay);
  }

  &:has(#navigator-toolbox:not(:hover)) {
    --transition-delay: var(--transition-collapse-delay);
  }

  &:has(#navigator-toolbox #urlbar[open]) {
    --transition-delay: 0ms;

    #urlbar[open],
    #urlbar::before,
    #urlbar-input,
    #urlbar-container,
    #nav-bar-customization-target,
    #identity-box {
      transition: none !important;
    }
  }

  #navigator-toolbox {
    clip-path: inset(0 calc(var(--expanded-width) - var(--collapsed-width) - 5px) 0 0);
    position: absolute !important;
    height: 100% !important;
    width: var(--expanded-width) !important;

    &:is(:hover, [has-popup-menu], [movingtab], [flash-popup]),
    &:has(toolbarbutton[open]:not(#zen-sidepanel-button), #urlbar[open], #identity-box [open]) {
      clip-path: inset(0 0 0 0);

      ~#zen-appcontent-wrapper #tabbrowser-tabbox {
        clip-path: inset(-2px -2px -2px calc(var(--expanded-width) - var(--collapsed-width)) round 10px);
      }

      tab,
      .tab-background {
        width: 100% !important;
      }

      .tab-label-container {
        opacity: 1 !important;
      }

      #urlbar:not([open]),
      #urlbar-container,
      #nav-bar-customization-target {
        width: calc(var(--expanded-width) - 8px) !important;
      }

      .pinned-tabs-container-separator {
        width: inherit !important;
        margin-inline: inherit !important;
        display: block !important;
        justify-self: inherit !important;
      }

      #urlbar::before {
        transform: translateX(-38px);
        opacity: 0;
      }

      #urlbar-input,
      #identity-box,
      #zen-copy-url-button {
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }

  #zen-sidebar-top-buttons-customization-target {
    margin-left: calc(var(--collapsed-width)/2 - 17px) !important;

    #stop-reload-button:has(> #stop-button:not([disabled])) {
      order: -4 !important;
    }
  }

  #zen-sidebar-foot-buttons {
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin-bottom: 4px !important;

    #customizationui-widget-panel {
      transition: none !important;
      transform: none !important;
      clip-path: none !important;
    }
  }

  .tab-reset-pin-button,
  .tab-reset-pin-button::after {
    display: none !important;
  }

  .tab-icon-stack {
    position: static !important;
    transform: none !important;
  }

  #tabbrowser-tabbox {
    clip-path: inset(-2px -2px -2px -2px round 10px);
  }

  #zen-appcontent-wrapper {
    margin-left: var(--collapsed-width);
  }

  .tab-icon-image {
    margin-left: 4px !important;
    margin-right: 9px !important;
  }

  .tab-background {
    width: 36px !important;
  }

  @media (-moz-platform: macos) {

    .zen-workspace-normal-tabs-section,
    .zen-workspace-pinned-tabs-section {
      padding-left: calc((var(--collapsed-width) - 34px)/2) !important;
    }
  }

  @media not (-moz-platform: macos) {

    .zen-workspace-normal-tabs-section,
    .zen-workspace-pinned-tabs-section {
      padding-left: calc((var(--collapsed-width) - 36px)/2) !important;
    }
  }

  #zen-sidebar-splitter {
    visibility: hidden !important;
  }

  #nav-bar {
    position: relative !important;
  }

  #urlbar:not([open]),
  #urlbar-container {
    height: 37px !important;
    min-height: 37px !important;
    max-height: 37px !important;
    line-height: 37px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-sizing: border-box !important;
  }

  #urlbar:not([open]),
  #urlbar-container,
  #nav-bar-customization-target {
    width: calc(var(--collapsed-width) - 7px) !important;
    overflow: hidden !important;
  }

  #urlbar:not([open]) {
    position: relative !important;
    display: flex !important;
    align-items: center !important;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 38px;
      height: 100%;
      pointer-events: none;
      background-image: url("chrome://global/skin/icons/search-glass.svg");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center;
      -moz-context-properties: fill, stroke;
      fill: currentColor;
      opacity: 1;
      transform: translateX(0);
    }

    #urlbar-input,
    #zen-copy-url-button,
    #identity-box:not(:has([open])) {
      transform: translateX(38px);
      opacity: 0;
    }

    #page-action-buttons {
      display: none !important;
    }
  }

  .tab-label-container {
    opacity: 0 !important;
  }

  tab {
    width: 37px !important;
  }

  .pinned-tabs-container-separator {
    width: calc(var(--collapsed-width) - 6px) !important;
    margin-inline: 0px !important;
    display: flex !important;
    justify-self: start !important;
  }

  .workspace-arrowscrollbox {
    width: var(--expanded-width) !important;
    margin-right: auto !important;
  }
}