#zen-sidebar-top-buttons-customization-target {
  #back-button {
    order: -3 !important;
  }

  #forward-button {
    order: -2 !important;
  }

  #stop-reload-button {
    order: -1 !important;
  }

  #zen-sidebar-top-buttons-separator {
    order: 0 !important;
  }

  #unified-extensions-button {
    order: 99 !important;
  }

  #PanelUI-button {
    order: 100 !important;
  }
}

:root:not([zen-compact-mode="true"]):not([chromehidden~="toolbar"]):not([inDOMFullscreen="true"]) {
  --transition-duration: var(--mod-autoexpand-animation-duration);
  --transition-delay: var(--mod-autoexpand-animation-delay);
  --transition-delay-after: var(--mod-autoexpand-collapse-delay);
  --expanded-tab-bar-width: var(--mod-autoexpand-expanded-width);
  --collapsed-tab-bar-width: var(--mod-autoexpand-collapsed-width);
  --transition-delay-smooth: var(--transition-delay-after);
  --transition-delay-fast: calc(var(--transition-duration) + var(--transition-delay-after));

  /*Elements with "Instant" transitions. These are delayed dynamically depending on if it's hover/unhover, and are never animated to improve performance.*/
  #zen-media-controls-toolbar,
  #zen-appcontent-wrapper,
  vbox.zen-workspace-tabs-section.zen-workspace-pinned-tabs-section,
  #nav-bar,
  tab:not([zen-essential]):not([pinned])[selected="true"] .tab-background,
  .tab-audio-button,
  #zen-media-controls-hbox>*:not(#zen-media-focus-button),
  #zen-media-main-vbox>*:not(#zen-media-controls-hbox),
  tab:not([zen-essential]) .tab-background,
  #tabs-newtab-button,
  .pinned-tabs-container-separator,
  .zen-current-workspace-indicator-name,
  .tab-group-label {
    transition: clip-path 0ms ease-in-out var(--transition-delay-fast),
      transform 0ms ease-in-out var(--transition-delay-fast),
      opacity 0ms ease-in-out var(--transition-delay-fast),
      width 0ms ease-in-out var(--transition-delay-fast),
      max-height 0ms ease var(--transition-delay-fast),
      z-index 0ms ease var(--transition-delay-fast) !important;
  }

  /*Elements with smooth transitions that are animated*/
  #navigator-toolbox,
  #tabbrowser-tabbox,
  #urlbar:not([open]),
  #urlbar-container,
  #nav-bar-customization-target,
  #identity-box,
  tab:is([zen-essential]),
  #zen-workspaces-button,
  #zen-workspaces-button .subviewbutton,
  #tabs-newtab-button .toolbarbutton-text,
  #zen-media-focus-button::after,
  tab:not([zen-essential]),
  .tab-label-container,
  #zen-sidebar-foot-buttons>*:not(#zen-workspaces-button) {
    transition: clip-path var(--transition-duration) ease-in-out var(--transition-delay-smooth),
      transform var(--transition-duration) ease-in-out var(--transition-delay-smooth),
      opacity var(--transition-duration) ease-in-out var(--transition-delay-smooth),
      width var(--transition-duration) ease-in-out var(--transition-delay-smooth),
      max-height var(--transition-duration) ease var(--transition-delay-smooth) !important;
  }

  /*Main code block that defines the expanded state (reverts changes of the collapsed state, and clips the viewport)*/
  #navigator-toolbox {
    clip-path: inset(0 calc(var(--expanded-tab-bar-width) - var(--collapsed-tab-bar-width) - 5px) 0 0);
    position: absolute !important;
    height: 100%;
    min-width: 100px !important;
    width: var(--expanded-tab-bar-width) !important;
    --hover-width: 100px;

    /*Expanded state. Activates on hover, popup menu, etc*/
    &:is(:hover, [has-popup-menu=""], [movingtab], [flash-popup]),
    &:has(toolbarbutton[open="true"]:not(#zen-sidepanel-button), #urlbar[open]) {
      --transition-delay-smooth: calc(var(--transition-delay) + 0ms);
      --transition-delay-fast: var(--transition-delay);

      ~#zen-appcontent-wrapper {
        --transition-delay-smooth: calc(var(--transition-delay) + 0ms);
        --transition-delay-fast: var(--transition-delay);
      }

      clip-path: inset(0 0 0 0);

      ~#zen-appcontent-wrapper {
        z-index: 0 !important;
      }

      ~#zen-appcontent-wrapper #tabbrowser-tabbox {
        clip-path: inset(-2px -2px -2px calc(var(--expanded-tab-bar-width) - var(--collapsed-tab-bar-width)) round 10px);
      }

      tab:not([zen-essential]) .tab-background {
        width: 100% !important;
      }

      .tab-label-container {
        opacity: 100% !important;
      }

      #zen-sidebar-foot-buttons {
        opacity: 100% !important;
      }

      tab:is([zen-essential], [pinned]) {
        width: 100% !important;
      }

      .toolbarbutton-text {
        opacity: 100% !important;
      }

      #urlbar:not([open]),
      #urlbar-container,
      #nav-bar-customization-target {
        width: calc(var(--expanded-tab-bar-width) - 8px) !important;
      }

      tab:not([zen-essential]) {
        width: 100%;
      }

      .pinned-tabs-container-separator {
        width: inherit !important;
        margin-inline: inherit !important;
        display: block !important;
        justify-self: inherit !important;
      }

      tab-group .tabbrowser-tab {
        transform: translateX(0px);
        --tab-width: calc(100% - 15px);
        width: var(--tab-width) !important;
      }

      .tab-group-label {
        opacity: 100%;
      }
    }

    #zen-sidebar-foot-buttons>#customizationui-widget-panel {
      transition: none !important;
      transform: none !important;
      clip-path: none !important;
    }
  }

  #zen-sidebar-top-buttons-customization-target {
    margin-left: calc(var(--collapsed-tab-bar-width)/2 - 17px) !important;

    #stop-reload-button:has(> #stop-button:not([disabled])) {
      order: -4 !important;
    }
  }

  /*Important: Makes so that the webpage display covers the tab bar*/
  #zen-appcontent-wrapper {
    z-index: 1000 !important;
  }

  #zen-sidebar-foot-buttons {
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin-bottom: 4px !important;
  }

  .tab-reset-pin-button,
  .tab-reset-pin-button:after {
    display: none !important;
  }

  .tabbrowser-tab.tabbrowser-tab[zen-pinned-changed][pinned] .tab-icon-stack.tab-icon-stack {
    position: static !important;
    transform: none !important;
  }

  /*initial clip path state*/
  #tabbrowser-tabbox {
    clip-path: inset(-2px -2px -2px -2px round 5px);
  }

  /*Adds space for the tab icons*/
  #navigator-toolbox~#zen-appcontent-wrapper {
    margin-left: var(--collapsed-tab-bar-width);
  }

  /* CENTER FAVICONS on collapsed state */
  tab:not([zen-essential]) {
    .tab-icon-image {
      margin-left: 4px !important;
      margin-right: 4px !important;
    }

    .tab-background {
      width: 36px !important;
    }
  }

  @media (-moz-platform: macos) {

    .zen-workspace-normal-tabs-section,
    .zen-workspace-pinned-tabs-section {
      padding-left: calc((var(--collapsed-tab-bar-width) - 34px)/2) !important;
    }
  }

  @media not (-moz-platform: macos) {

    .zen-workspace-normal-tabs-section,
    .zen-workspace-pinned-tabs-section {
      padding-left: calc((var(--collapsed-tab-bar-width) - 36px)/2) !important;
    }
  }

  tab:not([zen-essential]) .tab-icon-image {
    margin-right: 9px !important;
  }

  /*hide splitter*/
  #zen-sidebar-splitter {
    visibility: hidden !important;
  }

  #nav-bar {
    position: relative !important;
  }

  /*collapses url bar when not hovered*/
  #urlbar:not([open]),
  #urlbar-container,
  #nav-bar-customization-target {
    width: calc(var(--collapsed-tab-bar-width) - 7px) !important;
    overflow: hidden !important;
  }

  #urlbar:not([open]) {

    #identity-box,
    #page-action-buttons {
      display: none !important;
    }
  }

  /*collapses essentials when not hovered*/
  tab:is([zen-essential]) {
    width: calc(var(--collapsed-tab-bar-width) - 5px) !important;
  }

  /*fades tab text*/
  .tab-label-container {
    opacity: 0% !important;
  }

  /*Collapses tab for square backgrounds on hover, during collapsed state*/
  tab:not([zen-essential]) {
    width: 37px;
  }

  /*collapses the thin line separator*/
  .pinned-tabs-container-separator {
    width: calc(var(--collapsed-tab-bar-width) - 6px) !important;
    margin-inline: 0px !important;
    display: flex !important;
    justify-self: start !important;
  }

  /*Made the arrowscrollbox collapse in the right direction, now it fixes tab sizing*/
  #navigator-toolbox {
    .workspace-arrowscrollbox {
      width: calc(var(--expanded-tab-bar-width) + 0px) !important;
    }

    .workspace-arrowscrollbox {
      margin-right: auto !important;
    }
  }
}